*{
    font-family: Georgia, Times, serif;
}

body{
    background-color: #61122f;
    font-size: 16px;
}

/** HEADER **/
#header-nav{
    background-color: #f6b319;
    border-radius:0;
    border:0;
}

/*.navbar-brand{
   padding-top: 25px;
}*/

.navbar-brand h1{/*Restaurant name*/
  color: #557c3e;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
    
}

#nav-list {
  margin-top: 10px;
  color: black;
  font-size: 1.3em;
  text-align: center;
  background-color: #f6b319;
}


.divider {
    height: 1px;
    margin: auto;
    overflow: hidden;
    background-color: #e5e5e5;
}

/*End of navigation bar*/

/*Body text*/
#menu-title{
   font-weight:bold;
   color: white;
   margin-bottom:20px;
}

#text-title{
    font-size: 1.4em;
    color: bisque;
    background-color:gray;
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
}

#description-text{
    font-size: 100%;
    color: bisque;
    background-color:gray;
    padding: 20px;
    text-align: justify;
}
/*#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}*/